[submodule "extern/tmxlite"]
	path = extern/tmxlite
	url = https://github.com/fallahn/tmxlite
[submodule "extern/SFML"]
	path = extern/SFML
	url = https://github.com/astrellon/SFML
[submodule "extern/Observe"]
	path = extern/Observe
	url = https://github.com/TheLartians/Observe
[submodule "extern/box2d"]
	path = extern/box2d
	url = https://github.com/astrellon/box2d
	branch = for-space-doggo
[submodule "extern/glm"]
	path = extern/glm
	url = git@github.com:g-truc/glm.git
